@import 'variables';

.nerv-g-form-control-container {

    display: flex;
    flex-direction: column;

    justify-content: center;

    position: relative;

    &.static-layout {
        .nerv-g-form-control-label {
            top: 0;
            left: 0;
            color: $text-dark-colour;
            font-size: 12px;
            &.retract-label {
                transform: translateY(0);
            }
        }

        .nerv-g-form-control-input {
            margin-top: 18px;
        }
    }

    &.inline-layout {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .nerv-g-form-control-input {

            &.ng-invalid.ng-touched {
                box-shadow: 0 0 2px 0 $danger-colour;
            }

            &:active,
            &:focus {
                box-shadow: 0 0 2px 0 $secondary-accent-colour;
            }

        }

        .nerv-g-form-control-label {
            margin-right: 8px;
            position: relative;
            order: 1;
            color: $text-dark-colour;
            pointer-events: inherit;

            &.retract-label {
                transform: translate(0);
                font-size: inherit;
            }
        }
    }

    .nerv-g-form-control-label {
        order: 0;
        position: absolute;
        left: 10px;
        pointer-events: none;
        color: #aaa;

        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;

        transition: transform 250ms ease-out, font-size 250ms ease-out;

        &.retract-label {
            transform: translate(-10px, -20px);
            color: $text-dark-colour;
            font-size: 12px;
        }

    }

    .nerv-g-form-control-input {
        order: 1;

        padding-top: 10px;
        padding-bottom: 3px;
        padding-left: 10px;

        height: $form-control-height;

        background: transparent;

        color: $text-dark-colour;

        border: none;
        border-bottom: 1px solid $text-dark-colour;

        transition: box-shadow 100ms linear, border-bottom 100ms linear;

        &.ng-invalid.ng-touched {
            box-shadow: 0 3px 4px -3px $danger-colour;
        }

        &:active,
        &:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid $secondary-accent-colour;
            box-shadow: 0 3px 4px -3px $secondary-accent-colour;

            ~.nerv-g-form-control-label {
                @extend .retract-label
            }
        }
    }

    textarea.nerv-g-form-control-input {
        height: unset;
    }
}

.nerv-g-form-control-error {
    transition: opacity 250ms linear;
    opacity: 1;

    color: $danger-colour;
    font-size: 12px;

    &.hide {
        opacity: 0;
    }
}