@import 'mixins';

.collaborator {
    display: grid;
    column-gap: 50px;

    &.primary {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        margin-bottom: 5rem;

        .collaborator__text {
            grid-column: 2;
        }
    }

    &.secondary {
        grid-template-columns: 1fr;
        justify-items: center;
        max-width: 500px;

        .collaborator__title-wrapper {
            width: 100%;
        }
    }

    .collaborator__picture {
        display: flex;
        grid-row: 1 / span 2;

        align-items: flex-end;
        justify-content: center;

        .profile-picture {
            object-fit: cover;
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }

        a {
            position: absolute;

            .social-icon {
                width: 40px;
                height: 40px;
                border-radius: 30%;
                transition: transform 150ms linear;

                &:hover {
                    transform: scale(1.1)
                }
            }
        }
    }

    .collaborator__text {
        line-height: 30px;
    }

    @include mobile-down {
        display: flex;
        flex-direction: column;
    }

}