@import 'variables';
@import 'mixins';

.hero-image__container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    margin-bottom: 30px;
    top: -74px;

    pointer-events: none;


    @include mobile-down {
        top: -128px;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 1) 100%);
    }

    .hero-image {
        width: 100%;
        object-fit: cover;
        height: 630px;
    }

    .title-wrapper {
        position: absolute;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(68,68,68,0.9) 2%, rgba(68,68,68,0.9) 98%, rgba(255,255,255,0) 100%); 
        padding: 5px 10%;
        width: 100%;
        pointer-events: all;

        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 82px;
            margin: 0;
        }

        h3 {
            font-size: 34px;
            margin: 0;
            margin-top: 30px;

        }

        a {
            font-size: 34px;
            border: 1px solid $text-light-colour;
            border-radius: 0;
            font-family: 'Tribal Conquest';
            padding: 7px 55px;
            margin-top: 20px;
            margin-bottom: 40px;
            display: block;
            width: fit-content;

            &:hover {
                background: transparentize($color: $text-light-colour, $amount: .8)
            }
        }

        h1,
        h3 {
            color: $text-light-colour;
            border-radius: 5px;
            text-align: center;
            font-family: 'Tribal Conquest';
        }
    }
}

app-product-group {
    margin-top: 40px;
}