@import 'variables';
@import 'mixins';

.hero-image__container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    margin-bottom: 30px;
    top: -74px;

    @include mobile-down {
        top: -128px;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 1) 100%);
    }

    .hero-image {
        width: 100%;
        object-fit: cover;
        height: 630px;
    }

    .title-wrapper {
        position: absolute;
        background: transparentize($text-dark-colour, .1);
        padding: 5px 10%;
        width: 100%;
        h1 {
            font-size: 42px;
            margin-bottom: 5px;
        }
        h3 {
            font-size: 14px;
            margin-bottom: 40px;
        }

        h1,
        h3 {
            color: $text-light-colour;
            border-radius: 5px;
            text-align: center;
        }
    }
}

app-product-group {
    margin-top: 40px;
}