<div class="hero-image__container">
  <span class="title-wrapper">
    <h1>Nervosa Games</h1>
    <h3>MINATURE WARGAME SPECIALISTS</h3>
  </span>
  <img
    class="hero-image"
    src="https://images.pexels.com/photos/957312/chess-checkmated-chess-pieces-black-white-957312.jpeg"
    onload=""
  />
</div>

<app-post-carousel></app-post-carousel>
<app-product-group
  [title]="'Curated Kits'"
  [tag]="'Curated Kit'"
  [description]="
    'Specially designed kits to get you started with your favorite Nervosa Game'
  "
></app-product-group>
