.collapsable-section__container {

    overflow: hidden;
    // height: fit-content;

    transition: max-height 250ms ease-out;
    // max-height: 500px;
    &.collapsed {
        max-height: 60px !important;
    }

    .collapsable-section__head-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: white;
        // z-index: 1;
        // position: relative;
        cursor: pointer;

        span {
            transition: transform 250ms linear;

            &.rotate {
                transform: rotateX(180deg);
            }
        }

        h5 {
            font-weight: 100;
        }
    }

        // .collapsable-section__content-wrapper {
        //     transition: transform 250ms ease-out;
        //     transform-origin: top;
        //     &.collapsed {
        //         // transform: translateY(-100%);
        //         transform: scaleY(0)
        //         // height: 0;
        //     }
        // }
}