@import 'variables';
@import 'mixins';

:host {

    overflow-x: hidden;
    overflow-y: visible;
    width: fit-content;

    position: absolute;
    right: 1px;
    top: 2px;

    border-radius: 25px;

    @include mobile-down {
        top: 46px;
    }

}

.sign-in {

    cursor: pointer;

    display: flex;
    align-items: center;
    overflow: hidden;
    height: 42px;

    background: transparentize($color: white, $amount: .5);
    width: fit-content;

    border-radius: 30px;
    transform: translateX(calc(var(--width) - 42px));

    transition: transform 250ms ease-out, background-color 250ms linear;

    &.signed-out {
        width: 150px;
    }

    &:hover,
    &:active {
        transform: translateX(0);

        ~.sign-out__container {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
        }
    }

    .material-symbols-outlined {
        color: #999999;
        font-size: 60px;
        font-weight: 0;
        font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;

        position: relative;
        top: 0px;
        right: 8px;

        &:hover {
            filter: invert(60%)
        }

        &.icon {
            font-size: 30px;
            right: 15px;
        }

        &.admin-dashboard{
            padding-right: 8px;
            margin-right: 8px; 
            border-right: 1px solid $text-dark-colour;
        }
    }

    .sign-in__wrapper {
        display: flex;
        align-items: center;
    }

    .user-info__wrapper {
        display: flex;
        flex-direction: column;
        padding: 0px 16px 0px 10px;
        border-right: 1px solid $text-dark-colour;
        margin-right: 25px;

        small {
            font-size: 10px;
        }

        p {
            margin: 0;
            padding: 0;
            color: $secondary-accent-colour;
        }

        .material-symbols-outlined {
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;

        }
    }

    .sign-in__profile-picture {
        width: 43px;
        border-radius: 50%;
    }

    .sign-in__text {
        margin: 0;
        padding: 0;
        margin-right: 20px;
        color: $secondary-accent-colour;

        width: 100%;
        display: block;
    }

}


.sign-out__container {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    &:hover,
    &:active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;

        .sign-out {
            pointer-events: inherit;
        }
    }

    transition: transform 350ms 350ms ease-out,
    opacity 200ms 350ms ease-out;

    .sign-out {
        margin: 5px;
        padding: 0 8px;
        width: 100%;
    }
}