/**
                COLOURS
**/

$primary-accent-colour: #E2A91C;
$secondary-accent-colour: #558999;
$text-dark-colour: #444444;
$text-light-colour: #EFFFFF;
$text-disabled-colour: #BBBBBB;
$shadow-colour: #0000004d;
$background-colour: #efffff;
$disabled-colour: #999999;

$danger-colour: #a03f3f;
$success-colour: #228d22;

$red: #e03636;

/**
                FONTS
**/
$primary-font: "Trebuchet MS", Tahoma, sans-serif;

/**
                SIZES
**/
$form-control-height: 30px;


/**
                Z-INDEX
**/
$menu: 900;
$modal: 10000;

/**
            BREAK POINTS
**/
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$massive: 1400px;