/**
                COLOURS
**/

$primary-accent-colour: #E2A91C;
$secondary-accent-colour: #558999;
$text-dark-colour: #444444;
$text-light-colour: #EFFFFF;
$shadow-colour: #0000004d;
$background-colour: #FFFFFF;

/**
                FONTS
**/
$primary-font: "Trebuchet MS", Tahoma, sans-serif;


/**
                Z-INDEX
**/
$menu: 900;

/**
            BREAK POINTS
**/
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$massive: 1400px;