<div *ngIf="post && user" class="post__container">
  <h5 class="post__username">
    {{ user.displayName }} |
    {{ post.timestamp.toDate() | date : "MMM dd" }}
  </h5>
  <h1 class="post__title">{{ post.title }}</h1>
  <app-rich-text-input mode="display" [text]="post.subTitle"></app-rich-text-input>
  <img
    class="post__image"
    [src]="post.backgroundImageUrl"
    [alt]="post.backgroundImageAlt"
  />

  <app-rich-text-input mode="display" [text]="post.content"></app-rich-text-input>

  <div class="post__share-tag-wrapper">
    <span class="material-symbols-outlined"> share </span>

    <div class="share-tag__tag-wrapper">
      <h5 *ngFor="let tag of post.tags">{{ tag }}</h5>
    </div>
  </div>

  <div class="appreciation__wrapper">
    <div class="views-comments__wrapper">
      <h6>{{ post.seenBy }} views</h6>
      <h6>{{ post.comments.length }} comments</h6>
    </div>
    <app-like-button [postId]="post.id"></app-like-button>
  </div>

  <h2>Recent Posts</h2>
  <app-post-carousel></app-post-carousel>

  <app-comment-section
    [postId]="post.id"
    [postId]="post.id"
    [user]="user"
  ></app-comment-section>
</div>
