@import 'variables';

.tag-manager__container {
    display: flex;
    margin-top: 8px;

    .tag-manager__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &:not(:first-child) {
            margin-left: 25px;
        }

        .material-symbols-outlined {
            color: $secondary-accent-colour;
            font-variation-settings:
                'FILL' 1,
                'wght' 300,
                'GRAD' 0,
                'opsz' 24;

            &.close {
                cursor: pointer;

                &:hover {
                    color: lighten($secondary-accent-colour, 15);
                }
            }
        }
    }
}