.login-options__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .login-options__icon {
        width: 120px;
    }

    .login-options__title {
        text-align: center;
        font-size: 34px;
        margin-top: 8px;
        margin-bottom: 50px;
    }

    .login-options__button {
        height: 45px;
        width: 300px;
    }
}