<h1>Refund Policy</h1>
<p>
  We want you to be completely satisfied with your purchase from Nervosa Games.
  If for any reason you are not satisfied with your purchase, we offer a
  hassle-free refund policy.
</p>
<h6>Returns and Refunds</h6>
<p>
  You may request a refund within 30 days of the date of purchase for physical
  products. To be eligible for a refund, the item(s) must be unused and in the
  same condition that you received them. The item(s) must also be in the
  original packaging. <br />
  <br />
  Please note that digital products such as STL files and PDFs are
  non-refundable. All sales of digital products are final. <br />
  <br />
  To initiate a refund for physical products, please contact us at
  ethan@nervosa.games with your order number and reason for the return. We will
  provide you with instructions on how to return your item(s) to us. <br />
  <br />
  Once your return is received and inspected, we will send you an email to
  notify you that we have received your returned item(s). We will also notify
  you of the approval or rejection of your refund. <br />
  <br />
  If your refund is approved, a credit will automatically be applied to your
  original method of payment within 14 days.
</p>
<h6>Shipping Costs</h6>
<p>
  Shipping costs are non-refundable. If you receive a refund for a physical
  product, the cost of return shipping will be deducted from your refund.
</p>
<h6>Sale Items</h6>
<p>Only regular priced items may be refunded. Sale items are non-refundable.</p>
<h6>Exchanges</h6>
<p>
  We do not offer exchanges at this time. If you would like to exchange an item,
  you may return the item for a refund and place a new order for the item you
  would like.
</p>
