<div class="product-search" [class]="url">
  <span class="product-search__social-media-icon-wrapper">
    <a
      *ngFor="let icon of socialMediaIconLinks"
      [href]="icon.href"
      target="_blank"
    >
      <app-icon [iconName]="icon.name"></app-icon>
    </a>
  </span>
  <div class="product-search__search-input-wrapper">
    <app-icon iconName="search" class="product-search__search-input-icon"></app-icon>
    <input
      class="product-search__search-input"
      type="search"
      placeholder="Search our products..."
      name="globalSearch"
      [(ngModel)]="searchTerm"
      (keypress)="onKeyPress($event)"
    />
  </div>
  <app-sign-in></app-sign-in>
</div>
