<div class="product-search" [class]="url">
  <span class="product-search__social-media-icon-wrapper">
    <a
      *ngFor="let icon of socialMediaIconLinks"
      [href]="icon.href"
      target="_blank"
    >
      <img [src]="icon.assetLink" [alt]="icon.alt" />
    </a>
  </span>
  <input
    class="product-search__search-input"
    type="search"
    placeholder="Search our products..."
    name="globalSearch"
    [(ngModel)]="searchTerm"
    (keypress)="onKeyPress($event)"
  />
  <app-sign-in></app-sign-in>
</div>
