<div class="product-search" [class]="url">
  <span class="product-search__social-media-icon-wrapper">
    <a
      *ngFor="let icon of socialMediaIconLinks"
      [href]="icon.href"
      target="_blank"
    >
      <!-- <img [src]="icon.assetLink" [alt]="icon.alt" /> -->

      <app-icon [iconName]="icon.name"></app-icon>
      <!-- <svg width="40" height="40" preserveAspectRatio="xMidYMid meet" viewBox="0 0 90 90">
        <use [attr.xlink:href]="icon.assetLink + '#discord'"></use>
      </svg> -->
    </a>
  </span>
  <input
    class="product-search__search-input"
    type="search"
    placeholder="Search our products..."
    name="globalSearch"
    [(ngModel)]="searchTerm"
    (keypress)="onKeyPress($event)"
  />
  <app-sign-in></app-sign-in>
</div>
