@if(announcementPost) {
<div
  class="announcement-post__container"
  [routerLink]="linkBase"
  [queryParams]="{ id: announcementPost.id }"
>
  @if(currentUser?.email === announcementPost.posterId &&
  announcementPost.postDate?.seconds <= currentDateTime) {
  <div style="position: absolute">WARNING BANNER</div>
  }
  <img
    class="announcement-post__background-image"
    [src]="announcementPost.backgroundImageUrl"
    [alt]="announcementPost.backgroundImageAlt"
  />
  <div class="header">
    <h5 *ngIf="poster">
      {{ poster.displayName }}
      <span
        *ngIf="poster.isAdmin"
        class="material-symbols-outlined padding-left"
      >
        award_star
      </span>
    </h5>
    <h5>{{ announcementPost.timestamp.toDate() | date : "MMM dd" }}</h5>
  </div>

  <h1>{{ announcementPost.title }}</h1>
  <div class="footer">
    <span>
      <h5 class="horizontal-spacing">
        <span class="material-symbols-outlined offset-top"> visibility </span
        >{{ announcementPost.seenBy }}
      </h5>
      <h5 class="horizontal-spacing">
        <span class="material-symbols-outlined offset-top"> chat_bubble </span
        >{{ announcementPost.comments.length }}
      </h5>
    </span>
    <h5>
      <span class="material-symbols-outlined offset-top"> favorite </span
      >{{ announcementPost.likedBy }}
    </h5>
  </div>
</div>
}
