datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // padding: 5px 5px;
  // writing-mode: vertical-lr;
  // width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  // width: 200px;
  margin: 0;
}

.range-wrapper {
  position: relative;
  padding: 20px 0;

  h5 {
    font-weight: 100;
    position: absolute;
    top: -15px;
    right: 8px;

    &::before {
      content: '£'
    }
  }
}