@import 'variables';
@import 'mixins';

:host {
    backdrop-filter: blur(3px);
    background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
}

nav.top-navigation {
    width: 100%;
    height: 100px;

    background-color: $secondary-accent-colour;

    box-shadow: 0 4px 5px $shadow-colour;

    display: flex;
    align-items: center;

    padding: 0 20px;

    &.home {
        box-shadow: 0 4px 5px transparentize(black, .2);
    }


    @include tablet-down {

        height: 70px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

}