/* You can add global styles to this file, and also import other style files */
@import 'variables';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label,
li,
input,
textarea,
button,
small {
    font-family: $primary-font
}

input[type="button"],
button {
    height: $form-control-height;
    background: $secondary-accent-colour;
    border: none;
    color: $background-colour;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0 $shadow-colour;

    &:hover {
        background: lighten($secondary-accent-colour, 2)
    }

    &[disabled] {
        background: $disabled-colour;
        cursor: not-allowed;
    }
}