/* You can add global styles to this file, and also import other style files */
@import 'variables';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
p,
label,
li,
input,
textarea,
button,
small,
header {
    font-family: $primary-font
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    height: $form-control-height;
    background: $secondary-accent-colour;
    border: none;
    color: $background-colour;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0 $shadow-colour;
    width: 100%;

    &:hover {
        background: lighten($secondary-accent-colour, 2)
    }

    &.primary {
        background: $primary-accent-colour
    }

    &[disabled] {
        background: $disabled-colour;
        cursor: not-allowed;
    }
}

.nervosa-games__form {
    width: 70%;
    max-width: 800px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    row-gap: 30px;
    column-gap: 60px;

}