/* You can add global styles to this file, and also import other style files */
@import 'variables';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label,
li,
input,
textarea {
    font-family: $primary-font
}