<form
  #createPostForm="ngForm"
  class="create-post__form nervosa-games__form"
  (submit)="onSubmit()"
>
  <h1 class="post-header full-width"><span>{{mode === 'create' ? 'Create new post...' : 'Update existing post...'}}</span> <span class="material-symbols-outlined" (click)="areYouSure()"> delete </span> </h1>
  <app-form-control class="full-width" label="Post Title">
    <input type="text" [(ngModel)]="post.title" name="title" required />
  </app-form-control>

  <app-rich-text-input
    #postSubtitle
    placeholder="Post Subtitle"
    class="full-width"
  ></app-rich-text-input>

  <app-file-upload
    class="full-width"
    [uploadPath]="'site-announcement-post-images'"
    (downloadUrl)="addDownloadUrl($event)"
  ></app-file-upload>

  @if(post.backgroundImageUrl) {
  <div class="image-preview full-width">
    <div><span class="material-symbols-outlined" (click)="removeTitleImage()"> close </span></div>
    <img [src]="post.backgroundImageUrl" [alt]="post.backgroundImageAlt" />
  </div>
  }

  <app-form-control class="full-width" label="Image Description">
    <input
      type="text"
      [(ngModel)]="post.backgroundImageAlt"
      name="imageDescription"
    />
  </app-form-control>

  <app-rich-text-input
    #postContent
    placeholder="Post Content"
    class="full-width post-content-wrapper"
  ></app-rich-text-input>


  <app-form-control label="Schedule Post Date">
    <input #postDate type="date" [ngModel]="post.postDate | date:'yyyy-MM-dd'" (ngModelChange)="setScheduledPost($event, postTime.value)" name="schedule post date" required />
  </app-form-control>
  <app-form-control label="Schedule Post Time">
    <input #postTime type="time" [ngModel]="post.postDate | date: 'hh:mm'" (ngModelChange)="setScheduledPost(postDate.value, $event)" name="schedule post time" required />
  </app-form-control>

  <input class="button-half-width" type="reset" value="Cancel" />
  <input
    class="button-half-width"
    type="submit"
    [value]="(mode === 'create' ? 'Create' : 'Update') + ' Post'"
    [disabled]="!createPostForm.valid"
  />
</form>
