<form
  #createPostForm="ngForm"
  class="create-post__form nervosa-games__form"
  (submit)="onSubmit()"
>
  <h1>Create new post...</h1>
  <app-form-control label="Post Title">
    <input type="text" [(ngModel)]="post.title" name="title" required />
  </app-form-control>

  <app-rich-text-input
    #postSubtitle
    placeholder="Post Subtitle"
    class="full-width"
  ></app-rich-text-input>

  <app-file-upload
    [uploadPath]="'site-announcement-post-images'"
    (downloadUrl)="addDownloadUrl($event)"
  ></app-file-upload>

  <app-form-control label="Image Description">
    <input
      type="text"
      [(ngModel)]="post.backgroundImageAlt"
      name="imageDescription"
    />
  </app-form-control>

  <app-rich-text-input
    #postContent
    placeholder="Post Content"
    class="full-width post-content-wrapper"
  ></app-rich-text-input>

  <input class="button-half-width" type="reset" value="Cancel" />
  <input
    class="button-half-width"
    type="submit"
    value="Create Post"
    [disabled]="!createPostForm.valid"
  />
</form>
