:host {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.create-post__form {

    h1,
    app-form-control,
    app-file-upload {
        grid-column: 1 / span 2;
    }

    textarea {
        white-space: pre-wrap;
    }

}